# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

,/
dist/
log/
install/

# Toolchain
android-*-toolchain-*

# tarball
*.tar.gz

# Xamarin
GDAL*/obj/
GDAL*/bin/
OSGeo.GDAL*/obj/
OSGeo.GDAL*/bin/